@font-face {
    font-family: RobotoSlab;
    src: url(../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

:root {
    --primary-900: #3E2723;
    --primary-800: #4E342E;
    --primary-700: #5D4037;
    --primary-600: #6D4C41;
    --primary-500: #795548;
    --primary-400: #8D6E63;
    --primary-300: #A1887F;
    --primary-200: #BCAAA4;
    --primary-100: #D7CCC8;
    --primary-50: #EFEBE9;
    --secondary-900: #1C3038;
    --secondary-800: #2C454F;
    --secondary-700: #3A5863;
    --secondary-600: #486C79;
    --secondary-500: #537B8A;
    --secondary-400: #6D8E9B;
    --secondary-300: #86A3AE;
    --secondary-200: #A7BDC6;
    --secondary-100: #C7D8DE;
    --secondary-50: #E6F0F5;
    --alert: #D32F2F;
    --success: #388E3C;
    --white: #ffffff;
    --black: #000000;
    --ff: Montserrat;
    --ff-verse: RobotoSlab;
}


* {
    padding: 0;
    margin: 0;
    font-family: var(--ff);
    font-weight: 400;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

li,
a,
input,
select,
option {
    cursor: pointer;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
}

input,
select {
    border: none;
    outline: none;
}

.center {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}