header {
    position: sticky;
    top: 0 !important;
    padding: 1rem;
    font-family: var(--ff);
    background-color: var(--color-primary);
    border-bottom: 1px solid var(--color-secondary);
}


.logo {
    width: 100px;
    cursor: pointer;
    fill: var(--color-accent);
}

.setting-icon {
    width: 30px;
    margin: 0 1rem;
}

#dark,
.setting-icon {
    fill: var(--color-primary);
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: var(--color-accent);
    padding: 6px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px 1px gray;
}

.buy-me-a-coffe {
    position: relative;
    cursor: pointer;
    background-color: var(--color-accent);
    /* border: 1px solid var(--color-tertiary); */
    border-radius: 5px;
    padding: 0.5em 1em;
}

.coffe-border {
    fill: var(--color-primary);
}

.buy-me-a-coffe a {
    color: var(--color-primary);
    margin: 0 1em 0 0;
}

.buy-me-a-coffe:hover {
    transform: scale(1.02);
    transition: all 1s;
}

.coffe-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

main {
    padding: 0.2rem;
}

select {
    max-width: 250px;
    padding: 0.5em;
    border: 1px solid var(--color-accent);
    border-radius: 5px;
    margin: 0.5rem;
}

label {
    font-size: var(--small-text);
}

.content {
    max-width: 700px;
    width: 90%;
}


.content div {
    gap: 0.5rem;
    margin: 0 0 1rem 0;
}

.content span {
    color: var(--color-accent);
}

.content p {
    display: inline-block;
    margin: 0 0 0 1rem;
}

@media (min-width: 1200px) {
    aside {
        display: block;
        position: fixed;
        top: 72px;
        right: 0;
        border-left: 1px solid var(--color-secondary);
        height: 100vh;
        max-width: 300px;
        padding: 1em;
    }
}

@media (max-width: 1200px) {
    aside {
        display: none;
    }
}

@media (max-width: 500px) {
    .buy-me-a-coffe a {
        font: var(--small-text);
    }

    .buy-me-a-coffe {
        padding: var(--spacing-1) var(--spacing-3);
    }

    .coffe-icon {
        width: 10px;
        bottom: 6px;
    }
}